*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 70px;
    position: fixed;
    min-width: 500px;
    z-index: 1;
}
footer{
    height: 100px;

}
.Speaker{
    background-color: gray;
    color: white;
    float: right;
    display: flex;
    flex-flow: row;
}
.container{
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.green
{
    color: rgb(68, 160, 28) ;
}
i{
    color: white;
}
.card{
    position: relative;
    height: 200px;
    margin-right: 5px;
    width: calc((100% - 35px) / 7);
    background-color: gray;
    margin-top: 70px;
}
.label{
    background-color: rgba(0, 0, 0, 0,5);
    color: white;
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
}