*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
}
.container{
    max-width: 100vh;
    margin: 0 auto;
}
.green
{
    color: rgb(68, 160, 28) ;
}
.label{
    background-color: rgba(0, 0, 0, 0,5);
    color: white;
}